.albumArt {
  height: 100%;
  width : 100%;
}

.coverContainer:hover {
  opacity: 0.7;
}

.coverContainer:hover .iconContainer {
  opacity: 1;
}

.coverContainer {
  position: relative;
}

.iconContainer {
  position: absolute;
  width: 100%;
  top: 45%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  opacity : 0;
}

.iconContainer:hover {
  opacity:1;
}

.heartIcon {
  height : 30px;
  width : 30px;
}

.playButton {
  height : 60px;
  width : 60px;
}

.playButton:hover {
  transform: scale(1.3)
}

.dotsIcon {
  height: 30px;
  width: 30px
}
