.AlbumCover {

  position: relative;
  min-width: 255px;
  min-height: 255px;
  background-size: cover;
  background-position: center center;
  margin: 20px;
  color: #fff;
}
.BackgroundColor{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  min-width: 255px;
  min-height: 255px;
}
.Icon {
  display: none;
  transition: all 0.3s ease-in-out;
}
.AlbumCover:hover .BackgroundColor {
  background: rgba(0,0,0,0.5);
  max-width: 255px;
  max-height: 255px;


}
.AlbumCover:hover .Icon{

  width: 100%;
  display: flex;

}
.Icon:hover {
  transform: scale(1.2);
  fill: white;
  transition: fill 0.1s ease-in-out;
}

