.Album-container{
  display: flex;
  flex-direction: column;
  justify-content: left;
  position: relative;
  margin: 0px 10px;
  width: 300px;
} 

h1{
  font-family: 'Helvetica Neue', sans-serif;
  color: #ffffff;
}

.Image {
  margin: 30px auto;
}

.Album {
  color: #ffffff;
  margin-bottom: 5px;
}

.Artist {
  color:#a0a0a0;
}

.icons-container {
  display: none;
}

.icon svg {
  width: 60px;
  transition: all 1s ease-in-out;
}

.icon svg:hover {
  transform: scale(1.1); 
}

.icon svg path {
  fill: white;
  transition: fill 0.3s ease-in-out;
}

.icon svg:hover path {
  fill: white;
}

.Album-container:hover .icons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: #fff;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.3);
  padding: 20px;
}

a {
  font-size: 14px;
  font-family: 'Helvetica Neue', sans-serif;
  text-decoration-line: none;
  font-weight: bold;
}

a:hover {
  text-decoration-line: underline;
  color: #ffffff;
  
}