.cardContainer {
    border: 3px solid black;
    display: flex;
    flex-wrap: wrap;
}

.albumCard {
    border: 3px solid green;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.textContainer {
  display: flex;
  flex-direction: column;
}

@media (min-width: 668px) {
  .albumCard {
    width: 30%;
  }
} 