.main-container {
text-align: left;
}

.album-cards-container {
display: flex;
flex-direction: column;
justify-content: space-evenly;
}

.album-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  text-align: left;
}

.album-cards-text {
  color: #ffffff;
  word-wrap: normal;
  max-width: 300px;
  
}

 @media (min-width:667px) {
  .album-cards-container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .album-text {
    max-width: 300px;
  }

}

@media (min-width:992px) {

} 

