.cardContainer {
    border: 3px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.albumCard {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 20px;
}

.textContainer {
  display: flex;
  flex-direction: column;
}

.artistContainer {
  display: flex;
  flex-direction: row;
}

@media (min-width: 667px) {
  .albumCard {
    width: 30%;
  }
} 

@media (min-width: 1024px) {
  .albumCard {
    width: 20%
  }
}