/*Gjort en liten preliminär lösning genom att sätta en div runt artist-komponenten. Men vore bättre om vi kan få till en array tycker jag!*/

.artist-box {
    display: flex;
}

.artist-name {
    font-family: sans-serif;
    color: #fff;
    text-decoration: none;
    margin: 2px;
}

.artist-name:hover {
    text-decoration: underline;
}
/* 
.artist-name:nth-of-type(n+2){
    content: ", ";
    color: #fff;
} */