.artistContainer {
    font-family: var(--secondary-headings-font-family);
    font-size: 14px;
    color: #a0a0a0;
    text-decoration: none;
}

.artistContainer:hover {
    text-decoration: underline;
    color: white;
}