.aside {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 60px;
}

.aside__header {
  font-size: 16px;
}

.aside__section {
  margin: 25px 0;
}

.aside__link {
  display: flex;
  justify-content: center;
}
.aside__image {
  width: 100%;
}

@media (min-width: 768px) {
  .aside__image {
    width: 80%;
  }
}

@media (min-width: 1024px) {
  .app__aside {
  }
}
