/* .coverAndButtons {
    position: relative;
}

.imgOverlay {
    justify-content: center;
    align-items: center;
    display: none;
}

.iconsContainer {
    display: flex;
    justify-content:space-around;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.heartBtn {
    margin-right: 20px;
}

.heartBtn:hover {
    width: 1.5rem;
    transition: 0.5s ease;
    filter: invert();
    opacity: 1;
    cursor: pointer
}

.playBtn {
    margin-right: 20px;
}

.playBtn:hover {
    transform: scale(2.0);
    width: 2rem;
    transition: 0.5s ease;
    filter: invert();
    opacity: 1;
}

.infoBtn {
    margin-right: 20px;
}

.infoBtn:hover {
    width: 1rem;
    transition: 0.5s ease;
    filter: invert(1);
    opacity: 1;
} */
