*{
  box-sizing: border-box;
}
.Cards{
  width: 80%;
  font-family: Helvetica;
  font-size: 14px;
  margin: 15px;
  display:flex;
  flex-direction: column;
  align-items:left;
}
a{
  text-decoration: none;
}

@media (min-width: 668px) and (max-width: 1024px){
.Cards{
  width: 45%;
}

}

@media (min-width: 1025px){
.Cards{
  width: 22%;

}

}