.songIcons{
  position: relative;
  display: none; 
  z-index: 5;
}

.songIcons svg{
  margin: 14px;
  height: 30px;
  width: auto;
  fill: #FFF;;
}

.play{
  height: 60px;
  width: auto;
}

.play:hover{
  transform: scale(1.5);
}
