.iconContainer {
  background: #e975752c;
}

.icons {
  display: flex;
  align-content: center;
  height: 202px;
  width: 200px;
  position: relative;
  z-index: 3;
  top: -275px;
  background: #2928289c;
  opacity: 0;
}

.icons:hover {
  opacity: 1;
}

.iconsContainer {
  display: flex;
  justify-content: space-around;
  align-content: center;
  width: 200px;
  margin-top: 70px;
}

img.iconHeart {
  height: 25px;
  width: 25px;
  margin-top: 10px;
  fill: white;
}

.iconPlay {
  height: 50px;
  width: 50px;
  fill: white;
}

.iconPlay:hover {
  width: 55px;
  height: 55px;
  color: rgba(255, 255, 255, 0.851);
}

.iconDots {
  height: 15px;
  width: 20px;
  margin-top: 15px;
}
