* {
  box-sizing: border-box;
}

:root {
  --leftPadding: 5px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: grey;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  color: white;
}

h2 {
  font-size: 18px;
}

a {
  text-decoration: none;
  color: white;
}

/* Container for whole site to make it center and control weight */
.site-container {
  background-color: black;
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;
}

/* Container for header to make it left-aligned */
.header-container {
  justify-content: left;
  padding-left: var(--leftPadding);
  margin-left: 5px;
}

/* Grid for all albums, 4 colomns in desktop, 2 in tablet and 1 in mobile */
.grid-for-album {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

/* Each album-card container */
.album-card {
  background-color: black;
  max-width: 320px;
  padding-left: var(--leftPadding);
  margin-left: 5px;
  color: white;
  position: relative;
}

.album-card:hover {
  opacity: 0.5;
  transition: 0.5s;
}

/* .album-text-container{
  min-height: 120px;
}

.album-card p{
  position: absolute;
  bottom: 0;
} */

.artists a:not(:first-of-type, :last-of-type)::before {
  color: #a0a0a0;
  content: ", ";
}
/* a::before - puts ", " before every a */
/* :not(:first-of-type, :last-of-type) -  CSS pseudo-class represents the first element of its type among a group of sibling elements.*/

.artists a:nth-last-of-type(2)::after {
  color: white;
  content: " & ";
  
}
/* selectorfor every <a> element that is the second p element of its parent, counting from the last child: */


/* - - - - - - - -  -TABLET VIEW - - - - - - - - */
@media (max-width: 1280px) {
  .grid-for-album {
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
  }

  .site-container {
    max-width: 768px;
  }
}
/* - - - - - - - -  -Mobile VIEW - - - - - - - - */
@media (max-width: 767px) {
  .album-card {
    padding-left: 0;
    margin-left: 0;
    max-width: 300px;
  }

  .grid-for-album {
    grid-template-columns: repeat(1, 1fr);
    margin: 0 auto;
  }

  .site-container {
    max-width: 340px;
  }
}
