body {
  margin: 0;
  padding: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.album {
  width: 22%;
}

.cover-wrapper {
  position: relative;
  display: inline-block;
}

.cover-wrapper:hover .icons {
  display: flex;
}

.cover {
  width: 100%;
}

.cover-wrapper:hover {
  filter: brightness(50%);
}

.icons {
  position: absolute;
  bottom:40%; 
  display: none;
  justify-content: space-around;
}

.icon {
  
  width: 20%;
}


.artist-container {
  display: inline;
}

.artist-container:last-child::before {
  content: " & ";
  color: #a0a0a0;
}

.artist-container:not(:first-child, :last-child)::before {
  color: #a0a0a0;
  content: ", ";
}

.artist-container:only-child::before { content: ""; }