body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #181818;
  font-size: 14px;
  font-family: Helvetica, Sans-Serif;
  color: #ffffff;

}


.outer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
}

.header {
  width:300px;
  border-bottom: 1px solid #252525;
  margin-bottom: 10px;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 25px;
  padding-bottom: 60px;
}

.albumCard {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.artistName a:not(:first-of-type, :last-of-type)::before {
  color: #a0a0a0;
  content: ", ";
}

.artistName a:nth-last-of-type(2)::after {
  content: " & ";
  color: #a0a0a0;
}

.coverImage {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.coverImage img{
  width: 300px;
}

.iconsContainer {
  position: absolute;
}

.iconsContainer img{
  width: 30px; 
   visibility: hidden;
   margin: 8px;
   filter: brightness(0) invert(1);

}
 a {
  color:#ffffff;
  text-decoration: none;
 }

.albumName {
  font-weight: bold;
  padding: 7px 0px;
}

.artistName a{
  color: #a0a0a0;
}

.list-of-playlists {
  display: none;
}


/* Hover effects  */


a:hover {
  text-decoration: underline;
  color: #ffffff
}


@media (min-width: 668px) {
  .header {
    width: 625px;
  }

  .container {
    grid-template-columns: repeat(2, 1fr);
  }

}

@media (min-width: 1025px) {
  .header {
    width: 875px;
  }

  .container {
    grid-template-columns: repeat(4, 1fr);  
  }

  .albumCard {
    width: 200px;
  }
  
  .coverImage img{
    width: 200px;
  }

  .iconsContainer img {
    width: 30px;
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }

  .coverImage:hover > img,
  .iconsContainer > img {
    opacity: 0.5;
  }

  .coverImage:hover .iconsContainer img {
    visibility: visible;
  }

  .iconsContainer img:hover {
    opacity: 1;
    transition: 0.5s ease-in-out;
  }

  .playIcon:hover {
    transform: scale(1.6);
  }
  .heartIcon:hover, .dotsIcon:hover {
    transform: scale(1.2);
  }
 

  .list-of-playlists {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-right: 1px solid #252525;

  }

  .list-of-playlists a{
    color: #a0a0a0;
    ;
  }
  .list-of-playlists h2{
    color: #ffffff;
  }

  .playlist {
    padding: 5px 0px;
  }
  .playlist a {
    transition: 0.1s ease-in-out;
  }
  .playlist a:hover{
    color:white;
    text-decoration: none;
  }

  .big-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding: 10px;

  }
}
