body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(41, 41, 41);
  color: white;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: white;
}

.album-name {
  font-size: 15px;
  margin: 5px 0;
  font-weight: 700;
}

.album-name:hover, .artist:hover {
  text-decoration-line: underline;
  cursor: pointer;
}

.artist {
  font-size: 14px;
  margin: 0;
  font-weight: 400;
  color: rgb(173, 169, 169);
}

.header {
  font-size: 20px;
  border-bottom: 0.5px solid rgb(128, 128, 128);
  margin-bottom: 40px;
  padding-left: 40px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.gallery-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.album-container {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 50px;
  position: relative;
}

.albumFront-container {
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden;
}

.image-container {
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden;
}

.albumFront-container:hover button {
  display: flex;
}

.albumFront-container:hover .image-container {
opacity: 0.5;
}

.image-container img {
  position: absolute;
  width: 100%;
  object-fit: contain;
}

.buttons {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  position: relative;
  height: 30px;
  width: 30px;
  display:none;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  margin: 0 20px;
  filter: invert(73%) sepia(99%) saturate(1%) hue-rotate(34deg) brightness(102%) contrast(93%);
  z-index: 1;
  cursor: pointer;
}

button img {
  position: absolute;
  width: 100%;
  object-fit: cover;
}

.play-button {
  height: 60px;
  width: 60px;
}

.play-button:hover {
  transform: scale(1.5);
  filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(165deg) brightness(104%) contrast(101%);
}

.title-container {
  font-family: Helvetica;
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media screen and (min-width:700px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }

  .album-name {
    font-size: 16px;
  }

  .artist {
    font-size: 15px;
  }

  .header {
    font-size: 25px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    margin: 0 4%;
    grid-template-columns: repeat(4, 20%);
    grid-column-gap: 4%;
  }

  .gallery-item {
    width: 100%;
  }

  .album-container {
    width: 100%;
  }

  .albumFront-container {
    height: 20vw;
  }

  .image-container {
    height: 20vw;
  }

  .album-name {
    font-size: 17px;
  }

  .artist {
    font-size: 16px;
  }

  .header {
    font-size: 30px;
    padding-left: 4%;
  }

}
