body {
  background-color: black;
  color: white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.music {
  background-color: red;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}

.album-name a {
  font-size: 16px;
  color: #ffff;
  font-family: "Helvetica", sans-serif;
}

.artists a {
  font-size: 14px;
  color: #a0a0a0;
  font-family: "Helvetica", sans-serif;
}

.artists a:not(:first-of-type, :last-of-type)::before {
  content: ", ";
}

.artists a:nth-last-of-type(2)::after {
  content: " & ";
}

.container {
  margin: 0 auto;
  max-width: 320px;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;
}

.album-container {
  z-index: 0;
  position: relative;
  flex-wrap: nowrap;
}

.icons {
  width: 10%;
  height: auto;
  z-index: 3;
  cursor: pointer;
}

.heart {
  width: 10px;
}

.play {
  width: 60px;
  transition: transform 0.3s ease-in;
  opacity: 0.7;
}

.play:hover {
  transform: scale(1.2);
  opacity: 1;
}

.dots {
  width: 20px;
}

.icon-wrapper {
  justify-content: space-evenly;
  z-index: 3;
  display: flex;
  position: absolute;
  width: 100%;
  height: auto;
  margin-top: 40%;
}

.image-container {
  z-index: 1;
}

.image-container img {
  width: 100%;
}

.cover-container {
  position: relative;
  max-width: 320px;
  margin: 0 auto;
}

.overlay-container {
  transition: ease 1s;
  opacity: 0;
  background-color: rgba(0, 0, 0, 50%);
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
}

footer {
  font-family: "Helvetica", sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 25px;
  color: #ffff;
  font-size: 16px;
}

.cover-container:hover .overlay-container {
  opacity: 1;
}

@media (min-width: 668px) and (max-width: 1024px) {
  .main-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-evenly;
    grid-gap: 20px;
  }
  .container {
    margin: 0 auto;
    max-width: 648px;
  }
}

@media (min-width: 1025px) {
  .main-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-evenly;
    grid-gap: 22px;
  }
  .container {
    margin: 0 auto;
    max-width: 1005px;
  }
}
