body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: #fff;
  display: flex;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

header {
  line-height: 50px;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

#album-container {
  background: #1a1b1c;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1500px;
  padding-top: 20px;
}

/* 
  Album cover 
*/

.album-cover {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 300px;
  z-index: 1;
  justify-content: center;
  align-items: center;
}

.album-cover:hover .icons img {
  display: block;
}

.album-img {
  position: absolute;
  z-index: 2;
}

.album-img:hover {
  filter: brightness(30%);
}

.icons {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  z-index: 3;
}

.icons:hover~.album-img {
  filter: brightness(30%);
}

.icon-play, .icon-heart, .icon-dots {
  align-self: center;
  justify-self: center;
  display: none;
}

.icon-heart {
  height: 35px;
  width: 35px;
}

.icon-play {
  height: 80px;
  width: 80px;
}

.icon-play:hover {
  height: 85px;
  width: 85px;
  pointer-events: fill;
}

.icon-dots {
  height: 35px;
  width: 35px;
}

/* 
  Album info 
*/

.album-info {
  width: 300px;
  margin: 0px 20px 40px 0px;
  padding-top: 10px;
}

.artist-name, .album-title {
  font-family: Helvetica;
  font-size: 14px;
}

.album-title {
  color: #fff;
  font-weight: bold;
}

.artist-name {
  color: #a0a0a0;
  padding-top: 8px;
}

.album-title a:link, .album-title a:visited {
  color: #fff;
  text-decoration: none;
}

.artist-name a:link, .artist-name a:visited {
  color: #a0a0a0;
  text-decoration: none;
}

.album-info a:hover {
  color: #fff;
  text-decoration: underline;
}