body {
  /*added margin*/
  margin: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  justify-content: flex-start;
}

.app-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.app-container {
  background-color: red;
}

.album {
  width: 300px;
  border: 2px solid #333;
  padding: 15px;
}

.album-tag-container {
  display: flex;
}

.album-tag {
  background: #999;
  padding: 5px;
  border: 1px solid #333;
  margin: 1px;
}

/* a {
  text-decoration: none;
} */

/* .icons {
}

.icons-heart {
}

.icons-play {
}

.icons-dots {
} 
Album title - 14px Helvetica #ffffff
Artist name - 14px Helvetica #a0a0a0

*/
