body {
margin: 0;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
background-color:#171717;
color: white;
}

code {
font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
monospace;
}

.root {
display: flex;
flex-direction: row;
}

.albumCard img {
width: 320px;
height: 320px;
}


.middle {
transition: .5s ease;
opacity: 0;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
text-align: center;
display: flex;
}
  
.image-container {
position: relative;
display: block;
opacity: 1;
transition: .5s ease;
backface-visibility: hidden;
}

.image-container:hover {
opacity: 0.3;
cursor: pointer;
}

.image-container:hover .middle {
opacity: 1;
}

.middle img:hover {
opacity: 1;

}

.album-wrapper {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}

.albumCard {
width: 320px;
height: 380px;
/* border: 2px solid blue; */
margin: 20px;
}

.icons {
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-evenly;
width: 320px;
}

.icons img {
width: 25px;
height: 25px;
font-size: 16px;
}

.icons svg path {
  fill: white !important;
}

.icons .play-icon {
width: 55px;
height: 55px;
transition: transform 1s; 
}

.play-icon:hover {
transform: scale(1.2)
}


header {
border-bottom: 2px solid #2b2a2a;
padding: 10px;
margin: 10px 10px 5px 10px;
}

h1 {
font: Helvetica #ffffff; 
font-size: 24px;
font-weight: 700;
margin: 0
}

h2 {
font: Helvetica #ffffff; 
font-size: 14px;
font-weight: 700;
margin-bottom: 8px;
}

h2:hover, h3:hover {
text-decoration: underline;
cursor: pointer;
}

h3 {
font: Helvetica #a0a0a0; 
font-size: 14px;
font-weight: 400; 
margin-top: 0
}
  