* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #111;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*HEADER*/
.header-title {
  font-family: "Helvetica", sans-serif;
  font-size: 1.5rem;
  color: white;
  padding: 3vw 0vw;
  margin-top: 3vw;
  margin-left: 3vw;
}

header {
  border-bottom: 1px solid #333;
  margin-bottom: 5vw;
}
/*MUSIC SECTION*/
.album-card {
  margin-bottom: 5vw;
}
.album-image {
  transition: 0.5s ease;
}
.image-container {
  object-fit: cover;
  position: relative;
}
.album-image:hover {
  opacity: 0.3;
  transition: 0.4s;
}
.icon-wrapper {
  display: flex;
  width: 70%;
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  justify-content: space-between;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.image-container:hover .album-image {
  opacity: 0.3;
}
.image-container:hover .icon-wrapper {
  opacity: 1;
}
.icon-heart,
.icon-dots {
  width: 30px;
  filter: brightness(0) invert(1);
}

.icon-play {
  width: 60px;
  filter: brightness(0) invert(1);
  transition: 0.2s;
}
.icon-play:hover {
  transition: 0.35s ease-in-out;
  transform: scale(1.3);
}

/*ARTIST NAME + ALBUM NAME*/
.artist-name {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  color: #a0a0a0;
}
.album-title {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  color: white;
  margin-top: 2vw;
  margin-bottom: 0.5vw;
}
.title-links {
  color: white;
  text-decoration: none;
}
.title-links:hover {
  text-decoration: underline;
}
/* Tablet version */
@media (min-width: 667px) and (max-width: 1024px) {
  .container {
    width: 768px;
    margin: auto;
  }

  .test {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

/* Deskop version */
@media (min-width: 1024px) {
  .container {
    width: 1300px;
    margin: auto;
  }

  .test {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}
