body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(34, 34, 34);
  color: white;
}

h1 {
font-size: 22px;
padding: 0px 0px 10px 20px;
}

h2 {
  font-size: 14px;  
  font-family: Helvetica;
  color: #ffffff;
  margin: 10px 0 5px 0;
}

h3 {
  font-size: 14px;  
  font-family: Helvetica;
  margin: 0px;
  color: #a0a0a0;
}

span {
  font-size: 14px;  
  font-family: Helvetica;
  margin: 0px;
  color: #a0a0a0;
  border: solid green 2px;
}


.artist > :not(:last-child):not(:first-child):before {
  content: ", ";
  white-space: pre;
  color: #a0a0a0;
}

.artist > :last-child:before {
  content: " & ";
  white-space: pre;
  color: #a0a0a0;
}

.artist > :only-child:before {
  content: "";
}

a {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.albumContainer {
  align-items: center;
  justify-content: center;
  display: inline-grid;
  width: 100vw;
  gap: 10px;
  border: solid red 2px;
  }

.albumWrapper {
  width: 300px;
  height: 400px; 
  align-items: center; 
  border: solid rgb(10, 155, 24) 2px;
}

.albumIcons {
  position: absolute;
  display: none;
  background: rgba(0, 0, 0, 0.6);
}

.albumImage {
  position: relative;
  width: 300px;
}

.albumImage:hover .albumIcons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}


.albumImage:hover {
  background-color: black;
}


.icon-heart, .icon-play, .icon-dots {
  width: 3.5em;
  height: 3.5em;
  filter: invert();
}

.icon-play:hover {
  transform: scale(1.3);
  transition: transform 0.5s;
}

@media (min-width: 668px) and (max-width: 990px) {

.albumContainer{
  grid-template-columns: repeat(2, 1fr);
}

.albumWrapper{
  margin-left: 10%;
}
}

  @media (min-width: 990px) and (max-width: 1024px) {
  
  .albumContainer{
    grid-template-columns: repeat(3, 1fr);
  }

  .albumWrapper{
    margin-left: 5%;
  }
  }


@media (min-width: 1024px) {

  h1 {
    font-size: 28px;
  }

.albumContainer{
  grid-template-columns: repeat(4, 1fr);
}
}

  
