body {
  margin: 0;
  background-color: black;
  padding: 20px;
  font-family: Helvetica;
  color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*---------------- SITE TOP --------------------*/

.header-title { /* Header title - New albums & Singles */
  text-align: center;
  font-size: 30px;
  margin-bottom: 10px;
}

.header { /* The line under the title */
  color: white;
  border-bottom: 1px solid #333;
  margin: 0;
}

.albumcontainer-parent { /* The container that contains the albumcovers etc */
  display: grid;
  grid-template-columns: repeat(1, minmax(50px, 1fr));
  justify-content: center;
  align-content: center;
  gap: 20px;
  row-gap: 50px;
}

.albumcontainer { /* The albumcovers etc*/
  display: grid;
  justify-content: space-evenly;
  row-gap: 50px;

}

/*---------------- MEDIA QUARRIES START --------------------*/

@media (min-width: 668px) {
  
  .albumcontainer {
    display: grid;
    grid-template-columns: repeat(2, minmax(50px, 1fr));
    justify-content: space-evenly;
    gap: 20px;
    margin-top: 10px;
    row-gap: 50px;
  }

  .header-title { /* Moves the header title to the left on tablet and desktop */
    text-align: left;
  }
  }

@media (min-width: 1223px) {
  
.albumcontainer {
  display: grid;
  grid-template-columns: repeat(4, minmax(50px, 1fr));
  justify-content: center;
  align-content: center;
  gap: 20px;
  margin-top: 10px;
  row-gap: 50px;
  }
}
