.release-title {
  font-family: Helvetica;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
  margin-left: 5px;
  padding: 5px 0px;
  font-weight: 600;
}

.release-title:hover {
  text-decoration: underline solid white;
  cursor: pointer;
}