body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

.heading {
  color: white;
  font-family: 'Helvetica Neue';
  font-size: 18px;
  margin-top: 10px;
  margin-left: 10px;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.song-card {
  margin: 10px;
}

.title {
  font-size: 14px;
  font-family: 'Helvetica Neue';
  color: white;
  max-width: 300px;
}

.title:hover {
  text-decoration: underline;
}

.all-artists-names > a:after {
  content: ', ';
}

.all-artists-names > a:last-of-type:after {
  content: '';
}

.artist {
  font-size: 14px;
  font-family: 'Helvetica Neue';
  color: #a0a0a0;
}

.artist:hover {
  text-decoration: underline;
}

.icons-overlay {
  display: none;
  flex-direction: row;
  justify-content: space-evenly;
}

.song-image:hover + .icons-overlay {
  display: flex;
}

/* If this one is first, the second overwrites it. If the styling was via a parent, like 
icons.overlay-img it will always overwrite code added to a separate child */
.heart {
  width: 15px;
  height: 15px;
}

/* The problem was that we did not have any comas... */
.heart,
.play,
.dots {
  margin-top: -150px;
  width: 50px;
  height: 50px;
  filter: invert(1);
}
