
.artist-name {
    font-size: 14px;
    font-family: Helvetica;
    color:  #a0a0a0;
    line-height: 1;
    margin-top: 0;
    max-width: 300px;
    margin-top: 0;
    margin-bottom: 0;
    position: absolute;
}

a {
    text-decoration: none;
    font-family: Helvetica;
    color:#a0a0a0;
    font-size: 14px;
}

