/* ---------------------------- WRAPPER AND ALIGN --------------------------- */

.album__icons {
  position: absolute;
  background: rgba(0, 0, 0, 0.315);
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 15%;
}

.album__icons > svg {
  margin: 0.5em;
  height: auto;
  fill: white;
  transition: all 0.5s ease-in-out;
}

/* ---------------------------------- ICONS --------------------------------- */

/* Makes sure that the outer icons are smaller and aligned correctly */
.icon--smaller {
  width: 50%;
}
.icon--smaller:nth-of-type(1) {
  margin-left: 0.5em;
}
.icon--smaller:nth-of-type(3) {
  margin-right: 0.8em;
}
.icon--big {
  width: 100%;
}

/* ---------------------------------- HOVER --------------------------------- */

/* Hover effects for the icons */
.album__icons > svg:hover {
  transform: scale(1.2);
}
