.albumImg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-size: cover;
  position: relative;
  min-height: 30vh;
}

h2 {
  font-size: 20px;
}

.albumCard {
  width: 30vh;
  height: 30vh;
  margin: 15px;
}

.albumCard a {
  text-decoration: none;
  font-size: 14px;
  font-family: helvetica;
}

.albumName {
  color: white;
}

.artistName {
  color: #a0a0a0;
}

.theLogos {
  display: none;
}

.albumCard a:hover {
  text-decoration: underline white;
}

.albumImg:hover .theLogos {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

.theLogos svg:hover {
  background: none;
  opacity: 1;
}

.heart,
.dots {
  fill: white;
  width: 3vh;
  margin-bottom: 14px;
  opacity: 0.9;
}

.play {
  width: 8vh;
  margin: 0 20px 0 20px;
  fill: white;
  background: rgba(233, 233, 233, 0.07);
  border-radius: 50%;
  opacity: 0.9;
}

.play:hover {
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

.heart:hover,
.dots:hover {
  transform: scale(1.03);
}

.albumDetails {
  display: flex;
  flex-direction: column;
}
