.artist-container {
    width: 85%;
    margin: 10px;
    position: relative;
    justify-content: center;
}

img {
    width: 100%;
    object-fit: cover;
}

.release .icons {
    width: 100%;
    position: absolute;
    bottom: 55%;
    opacity: 0;
    transition: .5s ease;
}

img:hover {
    opacity: 0.3;
    background: black;
    transition: .3s ease;
}

.release:hover .icons {
    opacity: 1;
}

h4 {
    color: #fff;
    margin-bottom: 0.4rem;
    text-decoration: none;
}

h4:hover {
    text-decoration: underline;
}

a {
    color: grey;
    font-weight: 500;
    margin-bottom: 0.4rem;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media (min-width: 668px) {
    .flex-container {
        flex-direction: row;
    }
    .artist-container {
        width: 50%;
        padding: 5px;
    }
}

@media (min-width: 1024px) {
    .artist-container {
        width: 23%;
        padding: 4px;
    }
}