
.album-container {
  position: relative;
}

.album-container:hover .icons-container {
  background-color: rgba(0,0,0,0.5);
  display: block;

} 

.album-container:hover .icons {
  opacity: 1;
  position: absolute;
  top: 35%;
 
}

.album-image {
  display: inline-block;
 
}

.album-image:hover {
  opacity: 0.5;
  transition: ease-in-out 0.5s;
}

/*There is a small black shadow in the bottom of the icons container when hovering*/
.icons-container {
  position: absolute;
  top: 0;
  bottom: 0;
  /* width: 100%;
  height: 100%; */
  width: 300px;
  height: 300px;
}

.icons { 
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  opacity: 0;
  width: 100%;
}


.icon-play {
  width: 60px;
  height: 60px;
  opacity: 0.8;
  filter: invert(98%) sepia(98%) saturate(0%) hue-rotate(358deg) brightness(103%) contrast(103%);
}

.icon-play:hover {
  opacity: 1;
  transform: scale(1.1);
  /*Also the background is darker in the play?*/
}

.icon-heart {
  width: 30px;
  height: 30px;
  opacity: 0.8;
  filter: invert(98%) sepia(98%) saturate(0%) hue-rotate(358deg) brightness(103%) contrast(103%);
}

.icon-heart:hover {
  opacity: 1;
  transform: scale(1.1);

}

.icon-dots {
  width: 30px;
  height: 30px;
  opacity: 0.8;
  filter: invert(98%) sepia(98%) saturate(0%) hue-rotate(358deg) brightness(103%) contrast(103%);
}

.icon-dots:hover {
  opacity: 1;
  transform: scale(1.1);
}

.album-text {
  text-align: left;
}

.album-title {
  font-family: 'Helvetica', sans-serif;
  font-size: 14px;
  color: #ffffff; 
}

.album-title:hover {
  text-decoration: underline;
}

/* @media (min-width: 667px) {
  .album-container {
    width
  }
} */
