.cover-image-container {
    position: relative;
    display: flex;
    padding: 10px;
    width: 100%;
    height: 100%;
}

/* This should be set to display: none; later */
.icon-container {
    display: flex;
    position: absolute;
    justify-content: space-evenly;
    width: 200px;
    height: 50px;
    top: calc(50% - 25px);
    left: calc(50% - 150px);
}

/* .IconContainer {
    display: none;
    position: absolute;
    top: 40%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 90%;
    background: rgba(0, 0, 0, 0.6);
  } */

.play-icon {
    height: 50px;
    -webkit-filter: invert(); /* This makes the icon white for some reason*/
    filter: invert();
}  

.heart-icon {
    height: 30px;
    align-self: center;
    -webkit-filter: invert(); /* This makes the icon white for some reason*/
    filter: invert();
}

.dots-icon {
    height: 30px;
    align-self: center;
    -webkit-filter: invert(); /* This makes the icon white for some reason*/
    filter: invert();
}

/* This should be set to display: something */
.icon-container:hover {
    display: flex;
    flex-direction: row;
}

.play-icon:hover {
    transform: scale(1.3);
    transition: transform 0.5s;
    filter: invert(1);
    opacity: 1;
}
