.albumcontainer {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
    /*justify-content:*/
}

.imgcontainer{
    align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}

.album-img{
    max-width: 100%;   
}

.albumname {
font-family: Helvetica;
font-size: 14px;
font-weight: 600;
color: #ffffff;
}

.albumname:hover {
text-decoration: underline;
width: fit-content;
cursor: pointer;
}



a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

/* Media queries */

@media (min-width: 667px) and (max-width: 1024px) { 

.albumcontainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px 10px;
}
}

@media (min-width: 1025px) {
  
.albumcontainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px 10px;
}
}