a {
    text-decoration: none;
    color: white;
}

h1{
    font-size: 15px;
}

h2{
    font-size: 10px;
}

.wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 10px;
    
}
.album {
    width: 100%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.image-container{
    width: 100%;
    align-items: center;
    position: relative;
}
.album img {
    width: 100%;
    transition: .5s ease;
    backface-visibility: hidden; /* Kan vi ta bort denna? */
}

.album img:hover {
    opacity: 0.3;
    cursor: pointer;
}        
        
h1:hover, h2:hover {
    text-decoration: underline;
    cursor: pointer;
}

.animation{
    display: none;
}

.animation svg {
    transition: all 1s ease-in-out;
}

.animation svg:hover {
    transform: scale(1.2);
}

.animation svg path {
    fill: white;
    transition: fill 0.3s ease-in-out;
}

.image-container:hover .animation {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: white;
    top: 0;
    right: 0;
    bottom: 0px;
    left: 0;
    background: rgba(0,0,0,0.5);
    padding: 20px;
}



@media (min-width: 668px) {
    .wrapper {
        flex-direction: row;
        width: 50%;
        align-items: flex-start;
        justify-content: flex-start;
        margin: 0px;
    
    }
}

@media (min-width: 1024px) {
    .wrapper {
        width: 25%;
    }
}