.albumInfo {
  width: 25%;
  padding: 5px; 
  min-height: 50vh;
}

.albumInfo:hover {
  filter: brightness(60%);
} 

.icons {
  display: none;
  width: 40%;
}

.albumInfo:hover .icons {
  display: flex;
  justify-content: space-evenly;
  top: 120px; 
  left: 90px; 
  fill: white; 
  align-items: center; 
  position: absolute;
}


.play-icon:hover {
  transform: scale(1.2);
  backdrop-filter: blur(1px);
}

@media (max-width: 1024px) { 
  .albumInfo {
    width: 50%;
    min-height: 33vh;
    padding-left: 60px; 
  }
}

@media (max-width: 668px) {
  .albumInfo {
    width: 100%;
    padding: 30px; 
  }
}

h1 {
  font-size: 14px;
  color: #ffffff;
  background-size: 50px;  
}

h1:hover {
  text-decoration: underline;
  }

h3 {
  font-size: 14px;
  color: #a0a0a0;
} 

h3:hover {
  text-decoration: underline;
  }

a {
  text-decoration: none;
}

.heart-icon svg{
  width: 40px; 
}

.play-icon svg{
  width: 60px; 
}

.dots-icon svg{
  width: 40px; 
}





