.album-cards {
  margin: 10px;
  width: 90%;
  height: 30%;
  position: relative;
}

.album-cover {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}

.album-icons {
  display: none;
}

.cover-wrapper:hover .album-icons {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 80%;
  height: 25%;
  position: absolute;
  top: 25%;
  right: 0;
  bottom: 0;
  left: 0;
}

.cover-wrapper:hover .album-cover {
  opacity: 0.2;
  transition: all .3s ease-in-out;
}

.album-title {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  font-family: Helvetica;
  margin-top: 10px;
  text-decoration: none;
}

.album-title:hover {
  text-decoration: underline;
}

/* TABLET */
@media (min-width: 667px) and (max-width: 1024px) {

  .album-cards {
    width: 45%;
  }  

  .cover-wrapper:hover .album-icons {
    width: 90%;
  }
  
}

/* DESKTOP */
@media (min-width: 1025px) {

  .album-cards {
    width: 22%;
  }

  .cover-wrapper:hover .album-icons {
    width: 100%;
  }
 
}
