.album-card {
  margin-bottom: 58px;
  margin-left: 16px;
  margin-right: 16px;
  width: 100%;
}

.cover {
  position: relative;
}

.cover-image {
  object-fit: cover;
  transition: 0.3s;
  width: 100%;
}

.cover:hover .cover-image {
  opacity: 0.5;
}

.cover:hover .icons {
  display: flex;
}

.icons {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: 0.3s;
  transform: translate(-50%, -50%);
}

.heart {
  filter: invert(100%);
  width: 20%;
  height: 20%;
}

.play {
  filter: invert(100%);
  width: 40%;
  height: 40%;
  transition: 0.3s;
  margin-right: 30%;
  margin-left: 30%;
}

.play:hover {
  width: 60%;
  height: 60%;
  margin-right: 20%;
  margin-left: 20%;
}

.dots {
  filter: invert(100%);
  width: 20%;
  height: 20%;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
}

h2 a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
}

h2 a:visited {
   color: #ffffff;
  text-decoration: none;
}

h3 {
  display: inline;
  margin-right: 10px;
}

h3 a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #a0a0a0; 
  text-decoration: none;  
}

h3 a:visited {
  color: #a0a0a0;
  text-decoration: none; 
  display: inline;
}

a:hover {
  text-decoration: underline;
}

@media (min-width: 688px) {
  .album-card {
    width: 40%;
    flex-grow: 1;
  }
}

@media (min-width: 1024px) {
  .album-card {
    width: 20%;
    flex-grow: 1;
  }
}