.albumCover {
  margin-top: 3em;
  position: relative;
}

.albumCover img {
  width: 100%;
}

.moreDetails {
  display: none;
}

.albumCover:hover .moreDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

.moreDetails .playIcon:hover,
.heartIcon:hover,
.dotsIcon:hover {
  transform: scale(1.2);
  fill: #ffffff;
}

.playIcon,
.heartIcon,
.dotsIcon {
  fill: #a0a0a0;
  transition: fill 0.3s ease-in-out, transform 0.3s ease-in-out;
  cursor: pointer;
  margin: 0.9em;
}

.playIcon {
  width: 25%;
}

.heartIcon {
  width: 10%;
}

.dotsIcon {
  width: 7%;
}
