.album-container {
  margin: 10px;
  position: relative;
  width: 100%;
  height: 50%;
}

.album-wrapper:hover .album-cover {
  opacity: 0.2;
  transition: 0.3s ease-in-out;
}
.album-wrapper:hover .icons {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  margin: 0 auto;
  width: 100%;
  height: 30%;
  top: 30%;
  right: 0;
  bottom: 0;
  left: 5%;
}

.album-cover {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.album-title {
  font-size: 14px;
  font-family: Helvetica;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  margin-top: 10px;
}
.album-title:hover {
  text-decoration: underline;
}
.icons {
  display: none;
}
/* MEDIA QUERIES */
@media (max-width: 667px) {
  .album-wrapper:hover .icons {
    width: 70%;
    margin: 0 auto;
    height: 25%;
    top: 30%;
    right: 35%;
    bottom: 0;
    left: 10%;
  }
}
@media (min-width: 668px) and (max-width: 1024px) {
  .album-container {
    width: 45%;
    justify-content: center;
  }
  .album-wrapper:hover .icons {
    width: 90%;
    justify-content: space-around;
  }
  .album-title {
    font-weight: lighter;
    font-size: 18px;
  }
}

@media (min-width: 1025px) {
  .album-container {
    width: 20%;
  }
  .album-wrapper:hover .icons {
    width: 70%;
    right: 35%;
    left: 17%;
    justify-content: space-around;
  }
  .album-title {
    font-weight: lighter;
    font-size: 14px;
  }
}
