.albumInfo {
  width: 25%;
  padding: 5px; 
}


.albumInfo:hover {
  opacity: 1;
  filter: brightness(100%);
  display: block;
}

.icons {
  display: none;
  
}

.albumCover:hover {
  filter: brightness(50%);
  display: block; 
}

.albumInfo:hover .icons {
  display: flex;
  position: absolute; 
  top: 120px; 
  left: 100px; 
  fill: white; 
  align-items: center; 
  justify-content: space-evenly;
  opacity: 1;
}


.icons:hover ~ .albumCover{
 filter: brightness(50%);
}

.play-icon:hover {
  transform: scale(1.2);
  z-index: 10;
}

@media (max-width: 1024px) {
  .albumInfo {
    width: 50%;
  }
}

@media (max-width: 668px) {
  .albumInfo {
    width: 100%;
    padding: 20px; 
  }
}

h1 {
  font-size: 14px;
  color: #ffffff;
  background-size: 50px;  
}

h1:hover {
  text-decoration: underline;
  }

h3 {
  font-size: 14px;
  color: #a0a0a0;
} 

h3:hover {
  text-decoration: underline;
  }

a {
  text-decoration: none;
}

.heart-icon svg{
  width: 30px; 
}

.play-icon svg{
  width: 50px; 
}

.dots-icon svg{
  width: 30px; 
}





