/*Icons*/
.icons svg{
  fill: white;
  opacity: 0.8;
}
.heart-icon, .dots-icon{
  width: 30px;
}
.play-icon{
  width: 60px;
}
.icons{
  display:none;
}

/*Album measurements*/
.album-cover{
  position: relative;
  width: 85%;
}
.album-cover img{
  width:100%
}

/*Hover-effects*/
.album-cover:hover img{
  opacity: 0.4;
  transition: all .1s ease-in-out;
}
.album-cover:hover .icons{
  display:flex;
  position:absolute;
  top: 40%;
  left: 12%;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  height: 25%;
}
.play-icon:hover{
  transform: scale(1.2);
  transition: all .1s ease-in-out;
  opacity: 1;
}