.artist-title {
  font-size: 14px;
  font-family: Helvetica;
  color: #a0a0a0;
  text-decoration: none;
  margin-top: 3px;
}
.artist-title:hover {
  text-decoration: underline;
  color: white;
}

.artist-title:not(:last-child)::after {
  content: ', ';
}

.artist-title:nth-last-child(2)::after {
  content: " & ";
}

@media (min-width: 668px) and (max-width: 1024px) {
  .artist-title {
    font-size: 18px;
  }
}