a:link,
a:visited {
    font-size: 14px;
    font-weight: bold;
    color: #a0a0a0;
    font-family: Helvetica;
    margin-top: 10px;
    text-decoration: none;
}

a:hover,
a:active {
    text-decoration: underline;
    color: #a0a0a0;
}