/* .albumDisplayArea {
  display: flex;
  background-color: black;
  
}

.albumCover {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 300px;
  width: 300px;
}
.play-icon {
  display: none;
  height: 100px;
  width: 100px;
}
.albumCover:hover .play-icon {
  display: block;
  position: absolute;
} */