.pageTitle {
  font-size: 18px;
  color: white;
  width: 350px;
  padding-top: 20px;
}

  /* Media queries Desktop */
  @media (min-width: 1024px) {
    .pageTitle {
      margin-left: 170px;
    }
  }

