/*Styling for icons and images*/


.iconsContainer {
  display: grid;
  width: 70%;
  position: absolute;
  color: red;
}


/*.playicon {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: pink;
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 25px); 
}*/









/* Hoover effects
- Normal state: no hoover effects
  
- Hover over album cover
  - Darker image
  - heart.svg
  - play.svg
  - dots.svg

- Hover over play icon
  - Faded image
  - Growing heart.svg image
  - play.svg
  - dots.svg

- Hover over album name
  - Album name underlined
  
- Hover over artist name
  - Artist name underlined
  */