/*Styling for icons and images*/


.iconsContainer {
  display: flex;
  width: 80%;
  /*opacity: 0;*/
  position: absolute;
  justify-content: space-between;
  align-items: center;
  top: 50%;
  left: 50%;
}


.playicon {
  width: 80px;
  background-color: pink;
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 25px); 
}

.playicon:hover {
  width: 100px;
}

.hearticon {
  width: 50px;
  background-color: aqua;
}

.dotsicon {
  width: 50px;
  height: 50px;
  background-color: greenyellow;
}






/* Hoover effects
- Normal state: no hoover effects
  
- Hover over album cover
  - Darker image
  - heart.svg
  - play.svg
  - dots.svg

- Hover over play icon
  - Faded image
  - Growing heart.svg image
  - play.svg
  - dots.svg

- Hover over album name
  - Album name underlined
  
- Hover over artist name
  - Artist name underlined
  */