.heart {
    width: 35px;
    filter: invert(1);
}

.heart:hover {
    transform: scale(1.3);
    cursor: pointer;
    filter: invert(1);
    transition: all .2s;
}

.play {
    width: 42px;
    filter: invert(1);
}

.play:hover {
    transform: scale(1.5);
    cursor: pointer;
    filter: invert(1);
    transition: all .2s;
}

.dots {
    width: 25px;
    filter: invert(1);
}

.dots:hover {
    transform: scale(1.3);
    cursor: pointer;
    filter: invert(1);
    transition: all .2s;
}

.icons {
    display: flex;
    justify-content: space-evenly;
}