.playIcon {
  width: 50px;
  color: white;
  filter: invert(0.8);
}
.playIcon:hover {
  cursor: pointer;
  filter: invert(1.2);
  transform: scale(1.2);
  transition: 0.3s ease-in-out;
}
.heartIcon {
  width: 30px;
  color: white;
  filter: invert(0.8);
}
.heartIcon:hover {
  cursor: pointer;
  filter: invert(1);
}
.dotsIcon {
  width: 30px;
  color: white;
  filter: invert(0.8);
}
.dotsIcon:hover {
  cursor: pointer;
  filter: invert(1);
}
.icons:hover {
  align-items: center;
}
