/* TABLET & DESKTOP */
@media (min-width: 667px) {

  .playlist-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    font-size: 13px;
    font-family: Helvetica;
  }
  
  .playlist-cover {
    width: 150px;
    margin: 10px 0;
  }
  
  a  {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .playlist-owner {
    color: #a0a0a0;
    margin: 5px 0;
  }
  
  p {
    color: #a0a0a0;
    margin: 0;
    font-size: 11px;
  }
  
  }

