body {
    background-color: rgba(0, 0, 0, 0.382);
}

h1 {
    color: greenyellow;
    font-size: 44px;
}

.main-container {
    display: grid;
    grid-template-rows:1fr 1fr;
    gap: 10px;
}

.album-container {
   display: flex;
   flex-direction: column;
   justify-content: left;
   max-width: 280px;
}

.album-cover {
    width: 200px;
    gap: 24px;
}

.song-title {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Helvetica', 'sans-serif';
    font-weight: 600;
}

.artist-list {
    text-decoration: none;
    color: #ffffff;
    font-size: 12px;
    font-family: 'Helvetica', 'sans-serif';
    font-weight: 300;
}

