h1 {
    color: greenyellow;
    font-size: 44px;
}

.main-container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    background-color: rgb(176, 161, 161);
    gap: 20px;
    

}
.album-container {
   display:flex;
   flex-direction: column;
   justify-content: left;
   gap: 30px;
}

.album-cover {
    width: 200px;
    gap: 24px;
}