body {
    background-color: #000000eb;
}
header {
    height: 50px;
}

h3 {
    color: #ffffff;
    font-size: 18px;
    margin: 24px;
    line-height: 38px;
    border-bottom: 0.1px solid #7b78787e;
    width: auto;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    margin: 0;
} 

.album-container {
   display: flex;
   flex-direction: column;
   justify-content: left;
   margin: 0;
   
}

.album-cover {
    object-fit: cover;
    width: 100%; 
}

.img-overlay {
    position: relative;
}

.img-icons{
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.img-icons img {
    height: 50px;
    filter: invert();
} 

.heart-icon,
.dots-icon {
    width: 28px;
}

.play-icon:hover {
    transform: scale(1.5);
    transition: 0.3s ease;
}

.heart-icon:hover,
.dots-icon:hover {
    transform: scale(1.2);
    transition: 0.3s ease;
}

.img-overlay:hover .img-icons{
    display: flex;
    background-color: rgba(0, 0, 0, 0.491);
}


.song-title {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Helvetica', 'sans-serif';
    font-weight: 600;
    line-height: 20px;
    padding: 8px 0 2px;
}

.artist-title {
    text-decoration: none;
    color: #A0A0A0;
    font-size: 14px;
    font-family: 'Helvetica', 'sans-serif';
}

.mango{
    display: flex;
    flex-direction: row;
}

.artist-hej {
    display: inline-block;
}

.artist-hej:last-child::before {
    content: ", "; 
    color: #a0a0a0;
}
/* Not working as we want it, leave it here to fix later
.artist-hej:first-child::after {
    content: " & "; 
    color: #a0a0a0;
}
*/

.artist-hej:only-child::before {
    content: "";
}

/* Hover effects on song & artist title */
.song-title:hover,
.artist-title:hover {
    text-decoration: underline 1.5px;
    text-underline-offset: 3px;
}

/* responsive for tablet */
@media (min-width: 668px) {
    .main-container {
        display: grid;
        grid-template-columns: repeat(2, minmax(50px, 1fr));
        grid-template-rows: repeat(2, minmax(50px, 1fr));
        width: fit-content;
        gap: 18px;
        margin: 0 18px;
    }

    .album-container {
        height: 100%;
     }

     .album-cover {
        width: 100%;
        gap: 24px;
    }
}

/* responsive for desktop */
@media (min-width: 1024px) {
    .main-container {
        display: grid;
        grid-template-columns: repeat(4, minmax(50px, 1fr));
        grid-template-rows: repeat(4, minmax(50px, 1fr));
    }
}