.album {
  color: #ffffff;
  width: 100%;
  height: auto;
  margin: auto;
  padding: 10px;
}

.artist {
  margin-top: 5px;
  display: inline-block;
}

.album h2 {
  font-size: 14px;
  margin-bottom: 0;
}
.artist a {
  color: #a0a0a0;
  text-decoration: none;
}

.album-name a {
  text-decoration: none;
  color: white;
}

.album-name a:hover,
.artist a:hover {
  text-decoration: underline;
}

@media (min-width: 668px) {
  .album {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .album {
    width: 25%;
  }
}
