/* ---------------------------- WRAPPER AND ALIGN --------------------------- */
.section-wrapper {
  margin: 0 5%;
  max-width: 1350px;
}

.section-wrapper > * {
  margin: 1em;
}

.album--wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* ------------------------------ MEDIA QUERIES ----------------------------- */
/* Makes sure that when viewing the page on an
    extra large screen, the main content is centrally aligned
*/
@media (min-width: 1351px) {
  .section-wrapper {
    margin: 2em auto;
  }
}
