/* ------------------------------ MAIN ELEMENT ------------------------------ */

.sidebar {
  width: var(--leftMargin);
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  z-index: 2;
  background-color: var(--darkBackground);
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}

/* ---------------------------- ELEMENT SPECIFIC ---------------------------- */

ul {
  list-style: none;
  margin-top: 1em;
  padding: 0;
}

.sidebar__button {
  display: none;
}

/* ------------------------------ MEDIA QUERIES ----------------------------- */

/* Small screens (mobile phones and smaller tablets) */
@media (max-width: 555px) {
  .sidebar {
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
  .sidebar,
  .sidebar__button {
    width: var(--sidebarSmallWidth);
  }
  .active {
    width: calc(var(--sidebarSmallWidth) + 40%) !important;
  }
  .active > .sidebar__list {
    width: fit-content !important;
  }
  .sidebar__list {
    width: 0;
    overflow: hidden;
  }
  .sidebar__button {
    align-self: flex-end;
    display: block;
    margin-top: 1em;
    background-color: var(--darkBackground);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
  }
}
