.album-name {
    font-size: 14px;
    line-height: 1;
    font-family: Helvetica #ffffff;
    max-width: 300px;
    margin-bottom: 5px;
    position: absolute;
  }
  
  .artistlink:hover .artist-name {
    text-decoration: underline;
}