.album-name {
  font-size: 14px;
  font-family: Helvetica;
  color: #ffffff;
  width: 300px;
  position: absolute;
  margin-top: 0;
}



  
  .albumlink:hover .album-name {
    text-decoration: underline;
}