footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1a1f21;
    font-family: Helvetica;
    color: #a0a0a0;
    letter-spacing: 1px;
    height: 130px;
}

.turtle {
    margin:0px;
}

.footer {
    margin: 5px 0px 5px 0px;
    font-size: 13px;
    text-align: center;
}

.link-github {
    text-decoration: none;
    color: #a0a0a0;
    cursor: pointer;
}

.link-github:hover {
    color: lightgreen;
}

@media (min-width: 768px) {
    .footer {
        margin:15px 0px 5px 0px;
        font-size: 15px;
    }
}